{% load static %}

                        <!-- review content start -->
                            <div role="tabpanel" class="tab-pane fade" id="reviews">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="tour-description">
                                             <div class="comment-list-items">
                                                <div class="comment-list-wrapper">
                                                    <div class="comment-list">
                                                        <div class="commnet_img">
                                                            <img src="{% static 'images/blog/comments1.jpg' %}" alt="member img" class="img-fluid">
                                                        </div>
                                                        <div class="comment-text">
                                                            <div class="author_info"> 
                                                                <div class="author_name">
                                                                    <a href="#" class="">Adam Smith</a> 
                                                                    <span>20 July 2019 at 10.45 AM</span>
                                                                 </div>
                                                                 <div class="reply-comment">
                                                                    <a href="#" title=""> <i class="flaticon-reply-arrow"></i> Reply</a>
                                                                </div> 
                                                            </div> 
                                                            <ul class="review_rating d-flex">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>    
                                                            <p>You need to be sure there isn't anything embarrassing hidden in the repeat predefined chunks as nessing hidden in the repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                        </div>
                                                    </div>

                                                    <div class="comment-list reply_comment_text">
                                                        <div class="commnet_img">
                                                           <img src="images/blog/comments2.jpg" alt="member img" class="img-fluid">
                                                        </div>
                                                        <div class="comment-text">
                                                            <div class="author_info"> 
                                                                <div class="author_name">
                                                                    <a href="#" class="">Jonson Park</a> 
                                                                    <span>20 July 2019 at 10.45 AM</span>
                                                                 </div>
                                                                 <div class="reply-comment">
                                                                    <a href="#" title=""> <i class="flaticon-reply-arrow"></i> Reply</a>
                                                                </div> 
                                                            </div>
                                                            <ul class="review_rating d-flex">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>         
                                                            <p>You need to be sure there isn't anything embarrassing hidden in the repe essary, making this the first true generator on the Internet.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-list-wrapper">
                                                    <div class="comment-list">
                                                        <div class="commnet_img">
                                                            <img src="images/blog/comments1.jpg" alt="member img" class="img-fluid">
                                                        </div>
                                                        <div class="comment-text">
                                                            <div class="author_info"> 
                                                                <div class="author_name">
                                                                    <a href="#" class="">Jonathon Smith</a> 
                                                                    <span>20 July 2019 at 10.45 AM</span>
                                                                 </div>
                                                                 <div class="reply-comment">
                                                                    <a href="#" title=""> <i class="flaticon-reply-arrow"></i> Reply</a>
                                                                </div> 
                                                            </div>
                                                            <ul class="review_rating d-flex">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>         
                                                            <p>You need to be sure there isn't anything embarrassing hidden in the repeat predefined chunks as nessing hidden in the repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                                        </div>                               
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div><!-- review content end -->