{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========== Include slider ========== -->
{% include 'partials/slider.html' %}
<!-- ========== Include search ========== -->
{% include 'partials/search.html' %}

<section class="popular-packages">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-sm-12 col-xs-12">
				<div class="section-title">
					<h2>Our Packges</h2>
				</div>
			</div>
		</div>
		<div class="row">
			{% for package in package_list %}
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 ">

					<div class="single-package-carasoul">
                        <div class="package-location">
                            {% with package.images.all|first as image %}
                                <a href="{% url 'travel:details' package.id %}">
                                    <img src="{{image.image.url}}" alt="">
                                </a>
                            {% endwith %}
							<span>${{package.price}}</span>
                        </div>

                        <div class="package-details">
                            <div class="package-places package-image">
                                <h4>{{package.title}}</h4>
								<h6>{{package.location.city}},{{package.location.division}}</h6>
                                <div class="details">
                                    <p><span>Included</span>:
									{% if package.extras %}
										{% for extra in package.extras.all %}
											{{extra.name}}
										{% endfor %}
									{% else %}
										Not included any Extra
									{% endif %}
									</p>
                                </div>
								<div class="details">
									<p><span>Total Days</span>: {{package.total_day|slice:":2"}} Days</p>
								</div>
							</div>
							<div class="package-ratings-review">
                                <ul class="two-column start-design">
									<li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a></li>
									<li>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
                                </ul>
                            </div>
                        </div>

                    </div>


				</div>
				<!-- single package end -->
			{% endfor %}


		</div>
	</div>
	<div class="buy-now text-center mt-5">
		<a href="{% url 'travel:package_list' %}" class="travel-primary-btn hvr-fade">More Package</a>
	</div>
</section> <!--end  popular packajge -->



<section class="destinations_1">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-title text-center">
					<h2>Most popular Destinations</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p>
				</div>
			</div>
		</div>
		<div class="destination-slider-active owl-carousel">
			{% for location in location_pak %}
			<div class="single-destination">
				<figure>
					<a href="{% url 'travel:location' id=location.id %}"><img src="{{location.image.url}}" alt="">
					</a>
					<figcaption>
						<a href="{% url 'travel:location' id=location.id %}" class="travel-booking-btn hvr-shutter-out-horizontal">Package</a>
					</figcaption>
				</figure>
				<div class="des-city">
					<a href="{% url 'travel:location' id=location.id %}"><i class="fa fa-map-marker"></i>{{location.city}}, {{location.division}}</a>
					<h4>Waiting For You <span>{{location.packages.all.count}} Tours</span></h4>
				</div>
			</div> <!-- single popular destination  end-->
			{% endfor %}
		</div>
	</div>
</section> <!-- end popular destination-->

<section class="travelsers-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-title-white text-center">
					<h2>Why Choose travlestar</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single travel start -->
			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Travel Arrangements</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->

			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Cheap Flights</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->

			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Hand-picked tours</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->

			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Privet Guide</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->

			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Special Activities</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->

			<div class="col-12 col-sm-6 col-md-6 col-lg-4">
				<div class="single-travel">
					<div class="media">
						<div class="media-body travel-content">
							<h4>Best Price Guarantee</h4>
							<p>Lorem ipsum dolor sit amet consect adiu piscing elit sed diam nonum euismo tincidunt ut.</p>
						</div>
					</div>
				</div>
			</div> <!-- single travel end -->
		</div>
	</div>
</section> <!-- choose travelsers end here -->



<!-- testimonial area start here -->
<section class="section-paddings testimonial-two" id="testimonial_one">
    <div class="testimonial-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>What Our Happy Travelers Say</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- start top media -->
                    <div class=" slick-pagination">
                        <div class=" slider-nav-two">

                        </div>
                    </div><!-- end top media images -->

                    <!-- bottom testimonial message -->
                    <div class="block-text">
                        <div class="carousel-text slider-for-two">
							{% for client in clients %}
								<div class="single-box">
									<img src="{{client.image.url}}" alt="client" class="img-responsive img-circle mx-auto mb-4" style="width:150px;border-radius: 50%;">
									<p>{{client.message}}</p>
									<div class="client-bio">
										<h3>{{client.name}}</h3>
										<span>{{client.address}}</span>
									</div>
									<ul class="rating d-flex justify-content-center">

										{% with ''|center:5 as range %}
											{% for _ in range %}
												<li><i class="fa fa-star"></i></li>
											{% endfor %}
										{% endwith %}

									</ul>
								</div>
							{% endfor %}
                        </div>
                    </div><!-- bottom testimonial message -->
                </div><!-- /.block-text -->
            </div>
        </div>
    </div>
</section><!-- testimonial area end here -->


<section class="our_partners">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 mt-5">
				<div class="section-title text-center">
					<h2>Our Trusted Partners</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p>
				</div>
			</div>
		</div>
		<!-- partners images -->
		<div class="row">
			<!-- partners images -->
			<div class="partner-slider-active owl-carousel">
				<div class="single-pertner">
					<div class="partner-image">
						<a href="#"><img src="{% static 'images/partner/1.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="single-pertner">
					<div class="partner-image">
						<a href="#"><img src="{% static 'images/partner/2.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="single-pertner">
					<div class="partner-image">
						<a href="#"><img src="{% static 'images/partner/3.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="single-pertner">
					<div class="partner-image">
						<a href="#"><img src="{% static 'images/partner/4.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="single-pertner">
					<div class="partner-image">
						<a href="#"><img src="{% static 'images/partner/5.png' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>	<!-- end partners images -->
	</div>
</section> <!--end partner section -->

{% endblock content %}


{% block script %}
    <script>
    $("#id_division").change(function () {
      var url = $("#filterForm").attr("data-cities-url");
      var division_id = $(this).val();

      $.ajax({
        url: url,
        data: {
          'division': division_id
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });

    });
  </script>
{% endblock script %}
