{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========== Include slider with search ========== -->
{% include 'partials/slider.html' %}

<section class="popular-packages">
    <div class="container">
        <div class="row">

            {% for package in package_list %}
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 ">
					
					<div class="single-package-carasoul">
                        <div class="package-location">
                             {% with package.images.all|first as image %}
                                <a href="">
                                    <img src="{{image.image.url}}" alt="">
                                </a>
                            {% endwith %}
							<span>${{package.price}}</span>                            
                        </div>

                        <div class="package-details">
                            <div class="package-places package-image">
                                <h4>{{package.title}}</h4>
								<h6>{{package.location.city}},{{package.location.division}}</h6>
                                <div class="details">
                                    <p><span>Included</span>: 
									{% if package.extras %}
										{% with package.extras.all|first as name %}
										{{name.name}}
										{% endwith %}
									{% else %}
										Not included any Extra 
									{% endif %}
									</p>
                                </div>
								<div class="details">
									<p><span>Total Days</span>: {{package.total_day|slice:":2"}} Days</p>
								</div>
							</div>
							<div class="package-ratings-review">
                                <ul class="two-column start-design">
									<li><a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Book Now</a></li>
									<li>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</li>
                                </ul>
                            </div> 
                        </div>
						
                    </div>

					
				</div>
				<!-- single package end -->
			{% endfor %}
        </div>

        {% include 'partials/paginate.html' %}
    </div>
</section> <!--end  popular packajge -->




{% endblock content %}
