{% load static %}

    <!-- ============================
    		JavaScript Files
    ============================= -->
    <!-- jquery -->
    <script src="{% static 'js/vendor/jquery-3.2.0.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>    
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- owl.carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- slick js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- meanmenu js -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <!-- jquery-ui js -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- wow js -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- counter js -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!-- Countdown js -->
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- waypoints js -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Isotope js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- magnific js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Image loaded js -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- chossen js -->
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <!-- Revolution JS -->
    <script src="{% static 'js/assets/revolution/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/assets/revolution/revolution.js' %}"></script>
    <!-- plugin js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- select2 js -->
    <script src="{% static 'js/select2.min.js' %}"></script>    
    <script src="{% static 'js/colors.js' %}"></script>
    <!-- customSelect Js -->
    <script src="{% static 'js/jquery-customselect.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>