{% load static %}
{% load crispy_forms_tags %}

<section class="search_area">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="search_form">
					<form action="#" method="get">
					
						{{ form.title|as_crispy_field }}
						{{ form.city|as_crispy_field }}
						{{ form.price_range|as_crispy_field }}
						{{ form.date|as_crispy_field }}
						{% comment %} <div class="form-group">
							<input type="date" name="date" value="" class="hotel-input-first">
						</div>  {% endcomment %}
							
						<div class="form-group searc-btn-7">
							<button type="submit">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section> <!-- header tab based search area end-->