{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('{% static 'images/bercums/contact-page.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                        <h2>Registration</h2>
                        <ul>
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active"><a href="contact.html">Registration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog breadcrumb version one end here -->

<div class="text-center mt-4 text-muted">
    <h2>Password Reset done</h2>
</div>

     <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly. bal sal
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    

{% endblock content %}