{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="TravelStar - Tour, Travel, Travel Agency Template">
    <meta name="keywords" content="Tour, Travel, Travel Agency Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<title>
        {% block title %}
            {{title}}
        {% endblock title %}
    </title>

	<!-- ========== Include Css ========== -->
    {% include 'partials/css.html' %}

</head>
<body> 
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<!-- ========== Include header ========== -->
{% include 'partials/header.html' %}

{% block content %}

{% endblock content %}

<!-- ========== Include footer ========== -->
{% include 'partials/footer.html' %}

<div class="to-top pos-rtive">
	<a href="#"><i class = "fa fa-angle-up"></i></a>
</div><!-- Scroll to top-->
    
<!-- ========== Include jsr ========== -->
{% include 'partials/js.html' %}
</body>
</html>