{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- blog breadcrumb version one strat here -->
    <section class="breadcrumb-blog-version-one">
        <div class="single-bredcurms" style="background-image:url('{% static 'images/bercums/contact-page.jpg' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bredcrums-content">
                            <h2>Edit Profile </h2>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li class="active"><a href="contact.html">Edit Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- blog breadcrumb version one end here -->
    <section class="section-paddings">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 mx-auto">
                <h1>Edit your Profile</h1>
                <p>You can edit your account using the following form:</p>
                <form method="post" enctype="multipart/form-data">
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                {% csrf_token %}
                <p><input type="submit" value="Save changes"></p>
                </form>
            </div>       
        </div>
    </section>
{% endblock %}