{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- blog breadcrumb version one strat here -->
    <section class="breadcrumb-blog-version-one">
        <div class="single-bredcurms" style="background-image:url('{% static 'images/bercums/contact-page.jpg' %}');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bredcrums-content">
                            <h2>Registration</h2>
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li class="active"><a href="contact.html">Registration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- blog breadcrumb version one end here -->

    <section class="section-paddings">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 mx-auto">
                <div class="contact-title text-center">
                    <h2>Registration</h2>
                </div>
                <div class="contact-form">
                    <div id="contact">                        
                        <!-- Contact Form -->
                        <form class="form" method="post" action="" >
                            
                            {{ user_form|crispy }}
                            {% csrf_token %}
                            <p><input type="submit" value="Submite"></p>

                        </form><!--/ End Contact Form -->
                </div>
            </div>
        </div>
    </section>





{% endblock  %}